{{ define "hosts" }}
{{/* Created on 08. 06. 2026 */}}
{{/* Time-stamp: <2026-06-11 11:35:17 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <div class="body content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th># CPUs</th>
            <th>Last Seen</th>
          </tr>
        </thead>

        <tbody>
          {{ range .Hosts }}
          <tr>
            <td>
              <a href="/host/{{ .Name }}">
                {{ .Name }}
              </a>
            </td>

            <td>
              {{ if .IsAlive }}
              <img src="/static/icon_ok.png" />
              {{ else }}
              <img src="/static/dialog-error.png" />
              {{ end }}
            </td>

            <td>
              &gt;= 0
            </td>

            <td>
              {{ fmt_time .LastContact }}
            </td>

          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
