{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2026-06-03 11:16:37 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <div class="body content">
      <h1>Coming Soon: Content!</h1>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
